/* Общие */

* {
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

@font-face {
    font-family: 'Le Murmure';
    src: url("/fonts/Le_Murmure/Le_Murmure-Regular_web.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    }

:root {
    --main-beige: rgb(226, 215, 195);
    --main-blue: #B3BACF;
    --main-dark: #5B5659;
    --main-light: #F6F0EC;
    --bg-light: #EBEBEB;
    --bg-light-grey: #EDEDED;
    --stroke-focused: #FFFFFF;
    --stroke-pink :#FFB9C5;
    --stroke-grey: #DEDEDE;
    --stroke-purple: #B3BACF;
    --text: #FFFFFF;
    --text-menu: #DDE7F0;
    --indent-header: 20px;
    --indent-colomns: 24px;
    --image-indent: 19px;
}

@media (max-width: 600px) {
    :root {
        --indent-colomns: 16px;
        --indent-container: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    :root {
        --indent-colomns: 16px;
        --indent-container: 40px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    :root {
        --indent-colomns: 16px;
        --indent-container: 40px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    :root {
        --indent-colomns: 16px;
        --indent-container: 40px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Le Murmure', sans-serif;
    color:var(--text);
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
    color: var(--text);
}

a:hover {
    color: var(--stroke-purple);
}

.accent-font {
    font-family: 'Le Murmure';
    font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

@media (max-width: 320px) {
    .accent-font {
        font-size: 26px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .accent-font {
        font-size: 32px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .accent-font {
        font-size: 36px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1024px) and (max-width: 1280px) {

}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    font-style: normal;
    line-height: 1.4;
    color: var(--text);
}

@media (max-width: 600px) {
    p {
        font-size: 14px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    p {
        font-size: 15px;
    }
}

ul, li {
    font-family: 'Oswald', 'Noto Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.4;
    color: var(--text);
    text-transform: uppercase;
}

@media (min-width: 1024px) and (max-width: 1280px) {
    ul, li {
        font-size: 13px;
    }
}

h1 {
    font-size: 200px;
    line-height: 100%;
    text-align: center;
}

@media (max-width: 320px) {
    h1 {
        font-size: 60px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    h1 {
        font-size: 80px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h1 {
        font-size: 100px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h1 {
        font-size: 120px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h1 {
        font-size: 140px;
    }
}

h2 {
    font-size: 100px;
    line-height: 120%;
    padding-bottom: 21px;
}

@media (max-width: 600px) {
    h2 {
        font-size: 50px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    h2 {
        font-size: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    h2 {
        font-size: 70px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    h2 {
        font-size: 90px;
    }
}

.btn {
    border: 1px solid #FFFFFF;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 4px;
    padding: 20px 32px;
    color: var(--text);
    font-size: 16px;

    cursor: pointer;
    transition: background-color 250ms linear;
}

@media (max-width: 600px) {
    .btn {
        font-size: 15px;
    }
}

.btn:active {
    background-color: var(--main-blue);
    color: var(--main-dark);
    border: none;
}

.btn:hover {
    background-color: var(--main-blue);
    color: var(--main-dark);
    border: none;
}

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 600px) {
    .container {
        max-width: calc(100% - var(--indent-container));
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container {
        max-width: calc(100% - var(--indent-container));
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container {
        max-width: calc(100% - var(--indent-container));
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .container {
        max-width: calc(100% - var(--indent-container));
    }
}

.section-color {
    background-color: var(--main-dark);
}


/* header */

@media (max-width: 600px) {
    .section-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .section-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .section-header {
        position: sticky;
        top: 0;
        z-index: 1;
    }
}

.navigation {
    /* padding-top: 40px; */
    padding: 40px 0px;
}

@media (max-width: 600px) {
    .navigation {
        padding: 20px 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .navigation {
        padding: 20px 0px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .navigation {
        padding: 20px 0px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .navigation {
        padding: 30px 0px;
    }
}

.nav-list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: var(--indent-header);
}

@media (max-width: 600px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .nav-list {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .nav-list {
        display: none;
    }
}

.nav-item {
    list-style: none;
}

/* Гамбургер меню для мобильной версии */

.hamburger-menu {
    display: none;
}

@media (max-width: 600px) {
    .hamburger-menu {
        display: flex;
        justify-content: end;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
        justify-content: end;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hamburger-menu {
        display: flex;
        justify-content: end;
    }
}

.hamburger-icon {
    /* для иконки */
    font-size: 22px;
    color: var(--bg-light); 

    /* для картинки */
    /* width: 24px; */
    cursor: pointer;
}

@media (min-width: 1280x) {
    .hamburger-icon {
        display: none;
    }
}

/* Hero block */

.hero-container {
    padding-top: 100px;
    padding-bottom: 80px;
    position: relative;
}

@media (max-width: 320px) {
    .hero-container {
        padding-top: 28px;
        padding-bottom: 50px;
    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .hero-container {
        padding-top: 40px;
        padding-bottom: 50px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-container {
        padding-top: 50px;
        padding-bottom: 60px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-container {
        padding-top: 62px;
        padding-bottom: 70px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .hero-container {
        padding-top: 75px;
        padding-bottom: 70px;
    }
}

.section-image {
    background: url('/images/image-hero.png');
}

.image-hero {
    background-size: cover;
    background-position: center;
}

.hero-content {
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding-top: 170px; 
    padding-bottom: 80px;
    text-align: center;
}

@media (max-width: 600px) {
    .hero-content {
        height: 500px;
        padding-top: 100px; 
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .hero-content {
        height: 600px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .hero-content {
        height: 700px;
    }
}

.title-hero {
    text-align: center;
    position: absolute;
    top: -5px;
    /* top: 0px; */
    left: 0px;
    right: 0px;
}

.description-hero {
    /* font-style: normal;
    font-weight: 600;
    font-size: 46px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    padding-bottom: 40px; */
    width: calc(100% / 1.5);
    margin: 0 auto
}

@media (max-width: 600px) {
    .description-hero {
        width: calc(100% / 1.3);
        margin: 0 auto;
        padding-bottom: 50px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .description-hero {
        width: calc(100% / 1.3);
    }
}

.text-quote-hero {
    font-family: 'Le Murmure', sans-serif;
    font-size: 120px;
    font-weight: 600;
    line-height: 40%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-light);
}

.text-quote {
    font-family: 'Le Murmure', sans-serif;
    font-size: 46px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-beige);
}

@media (max-width: 600px) {
    .text-quote {
        font-size: 30px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .text-quote {
        font-size: 34px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .text-quote {
        font-size: 38px;
    }
}

@media (min-width: 1024px) and (max-width: 1280px) {
    .text-quote {
        font-size: 42px;
    }
}

/* .btn-hero {
    margin: 0 auto;
    display: block;
} */


/* Большой блок с датами */

.date-size {
    width: 384px;
    overflow: hidden;
    /* width: 30%; */
}

@media (max-width: 600px) {
    .date-size {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .date-size {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .date-size {
        display: none;
    }
}

.content-size {
    width: 792px;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .content-size {
        width: 100%;
    }
}

.title-date {
    font-family: 'Le Murmure';
    font-style: normal;
    font-weight: 600;
    font-size: 200px;
    line-height: 100%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    opacity: 0.1;
    padding-bottom: 48px;
}

@media (max-width: 600px) {
    .title-date {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-date {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title-date {
        display: none;
    }
}

@media (max-width: 600px) {
    .title-mobile-ver {
        font-family: 'Le Murmure', sans-serif;
        color:var(--text);
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        font-size: 50px;
        line-height: 120%;
        padding-bottom: 21px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-mobile-ver {
        font-family: 'Le Murmure', sans-serif;
        color:var(--text);
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        font-size: 70px;
        line-height: 120%;
        padding-bottom: 21px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .title-mobile-ver {
        font-family: 'Le Murmure', sans-serif;
        color:var(--text);
        font-weight: 600;
        font-style: normal;
        text-transform: uppercase;
        letter-spacing: 0.05em;

        font-size: 90px;
        line-height: 120%;
        padding-bottom: 21px;
    }
}

.extra-indent {
    padding-bottom: 68px;
}

.date-facts {
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;

    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-beige)
}

.historical-date {
    display: flex;
    gap: var(--indent-colomns);
    padding-bottom: 64px;
}

@media (max-width: 600px) {
    .historical-date {
        gap: 0px;
        padding-bottom: 50px;
    }
}

.historical-date-title {
    padding-bottom: 64px;
}

@media (max-width: 600px) {
    .historical-date-title {
        padding-bottom: 40px;
    }
}

.description-text {
    display: flex;
    gap: var(--indent-colomns);   
}

@media (max-width: 600px) {
    .description-text {
        flex-direction: column;
    }
}

.text-widht-two {
    width: calc(100% - var(--indent-colomns)/2);
    display: flex;
    flex-direction: column;
    gap: var(--indent-colomns);
    /* flex-grow: 1;
    flex-wrap: wrap; */
}


@media (max-width: 600px) {
    .text-widht-two-reverse {
        flex-direction: column-reverse;
    }  
} 


@media (max-width: 600px) {
    .text-widht-two {
        width: 100%;
    }
    
}

.image-historical {
    max-width: 100%;
}

@media (max-width: 600px) {
    .image-historical {
        width: 100%
    }
    
}

@media (max-width: 600px) {
    .image-description-reverse {
        display: flex;
        flex-direction: column-reverse;
    }  
}

@media (min-width: 600px) and (max-width: 768px) {
    .image-historical {
        width: 100%
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .image-historical {
        width: 100%
    }
}


.description-image {
    font-family: 'Oswald', 'Noto Sans', sans-serif;
    text-align: right;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    text-align: right;

    padding-top: 5px;
    padding-bottom: 5px;
}

@media (max-width: 600px) {
    .description-image {
        font-size: 15px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .description-image {
        font-size: 14px;
    }
}

.text-widht-three {
    width: calc(100% - (var(--indent-colomns)*2)/3);
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .text-widht-three {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .image-description-Caillebotte_1882 {
        display: none;
    }
}

.date-title {
    display: flex;
}


/* Импрессонизм в цифрах */

.container-indent {
    padding-bottom: 80px;
}

@media (max-width: 600px) {
    .container-indent {
        padding-bottom: 60px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .container-indent {
        padding-bottom: 70px;
    }
}

.title-fact {
    text-align: center;
    padding-bottom: 40px;
}

@media (max-width: 600px) {
    .title-fact {
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-fact {
        padding-bottom: 30px;
    }
}

.container-fact-list {
    max-width: 1044px;
    margin-left: auto;
    margin-right: auto;
}

.fact-list {
    display: flex;
    flex-direction: column;
}

.fact-item {
    display: flex;
    border-bottom: 1px solid rgb(226, 215, 195, 0.2);
    align-items: center;
    /* flex-wrap: wrap; */
}

@media (max-width: 600px) {
    .fact-item {
        flex-direction: column;
    }
}

.fact-subtitle {
    font-family: 'Le Murmure';
    font-weight: 600;
    font-size: 60px;
    line-height: 120%;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: var(--main-beige);
    width: calc(100% - (var(--indent-colomns)*1)/2);

    padding: 16px 0;
}

@media (max-width: 600px) {
    .fact-subtitle {
        font-size: 40px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .fact-subtitle {
        font-size: 50px;
    }
}

.fact-description {
    font-weight: 600;
    font-size: 18px;
    line-height: 120%;
    width: calc(100% - (var(--indent-colomns)*1)/2);
    /* flex-grow: 1; */
}

@media (max-width: 600px) {
    .fact-description {
        font-size: 16px;
        padding-bottom: 16px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .fact-description {
        font-size: 16px;
    }
}

/* galery */


.section-gallery {
    background-color: var(--main-blue);
}

.title-galery {
    text-align: center;
    padding-top: 64px;
    padding-bottom: 40px;
}

@media (max-width: 600px) {
    .title-galery {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .title-galery {
        padding-top: 50px;
        padding-bottom: 20px;
    }
}

.image-list {
    display: flex;
    gap: var(--indent-colomns);
    padding-bottom: 64px;
    overflow: hidden;
}

@media (max-width: 600px) {
    .image-list {
        flex-direction: column;
        padding-bottom: 30px;
        gap: 0px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .image-list {
        padding-bottom: 35px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .image-list {
        padding-bottom: 50px;
        overflow: hidden;
    }
}

.image-widht-three {
    width: calc(100% - (var(--indent-colomns)*2)/3);
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .image-widht-three {
        width: 100%;
    }
}

.image-indent {
    padding-bottom: var(--image-indent);
}

.image-indent:last-child {
    padding-bottom: 0px;
}

@media (max-width: 600px) {
    .image-indent {
        padding-bottom: var(--image-indent);
    }

    .image-indent:last-child {
        padding-bottom: var(--image-indent);
    }
}

.image-gallery {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

/* Footer */

.section-footer {
    background-color: var(--main-blue);
}

.footer-line {
    border-top: 1px solid var(--main-light);
}

.footer-text {
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    color: var(--text-menu);
    text-align: center;
    padding: 32px 0;
}

@media (max-width: 600px) {
    .footer-text {
        font-size: 16px;
        padding: 30px 0;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    .footer-text {
        font-size: 16px;
    }
}